/* Variáveis CSS 
As váriáveis armazenam valores que podem ser reutilizados 
em todo o projeto. Ajudam a manter a consistência e 
facilitam a manutenção do código.
Esta estrutura pode ser reutilizada em outros projetos, 
mas os valores são específicos para este projeto.
*/

:root {
    /* Cores */
    --letter-color: #faebd7;
    --background-color: #031e49;
    --bodybackground-color: #031e49;
    --highlight-color:#9F7E3B;
    
    /* Fontes */
    --font-base: "Roboto", sans-serif;
    }